doctype 5
html
  head
    meta(charset='utf-8')
    title=pageTitle
    script(src='js/jquery.js')
    script(type='text/javascript').
      var foo = false;
      if (foo) {
         bar()
      }
  body
    h1 Jade - node template engine
    #container
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
        
      form(action='/authorize/submit?response_type=#{response_type}&client_id=#{client_id}&redirect_uri=#{redirect_uri}', method='post')
        input(type='text', name='username')
        input(type='password', name='password')
        input(type='submit', name='submit', value='submit')
